<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp Page</title>
</head>
<body>
<form id="signupForm" name="signupForm">
    <input type="text" name="userName" placeholder="Name"/>
    <input type="email" name="userEmail" placeholder="Email"/>
    <input type="password" name="userPwd" placeholder="Password"/>
    <input type="text" name="userNickname" placeholder="Nickname"/>
    <select name="userGender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
    </select>
    <input type="date" name="userBirthday"/>
    <input type="submit" value="SignUp"/>
</form>

<script>
    // 폼 제출 시 데이터를 JSON으로 변환하여 전송하는 함수
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지

        // 폼 데이터를 객체로 변환
        const formData = new FormData(event.target);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        // JSON으로 변환하여 AJAX 요청 보내기
        fetch('/signupProc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // 서버에 JSON 형식으로 전송
            },
            body: JSON.stringify(data), // 데이터를 JSON 형식으로 직렬화하여 본문에 포함
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if (data.redirect) {
                window.location.href = data.redirect; // 서버에서 받은 리다이렉트 URL로 이동
            }        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
</body>
</html>
